.searchbar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search{
    width: 50px;
    border: 1px solid lightgray;
    margin-left: -1px;
}
.left{

    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.center{

    margin-left: 100px;
    margin-right: 70px;
    max-width: 1200px;
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right{

    margin-right: 50px;
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;

}

.hamburger{
    margin-left: 30px;

    width: 25px;
}
.yt-logo{
    width: 105px;
}
.voice{
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgba(243, 243, 243, 1);
    width: 35px;
    height: 35px;

}
.voice-logo{
    margin-left: 5px;
    margin-top: 5px;
    width: 25px;


}
.upl-logo,.yt-apps-logo ,.notif-logo,.mypic-logo {
    width: 25px;
}
.search-logo{
    width: 25px;
}

.sidenav-bar{
    width: 4%;
    height: 800px;
    border:1px solid black;
    display: inline-block;
}
.content{
    width: 95.77%;
    height: 800px;
    float: right;
    display: grid;
    grid-template-columns: 352px 352px 352px 352px;
    grid-auto-rows: 342px 342px 342px 342px;
    row-gap: 15px;
    column-gap: 15px;
}
.mypic-logo{
    border-radius: 50%;
    width: 35px;
}
 .search-box{
    width: 50%;
    height: 30px;
    border: 1px solid lightgray;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(1,1,1,0.05);
}
.search-box::placeholder{

    font-family: Arial;
    font-size: 20px;
}
.video-bottom{
    width: 82%;

}
.channel-logo{
    margin-left: 5px;
}
.chn-logo{
    border-radius: 50%;
    width: 45px;
}

.video-img{
width: 100%;
}
.video-description{
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;

}
.video-header{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial;
    margin-top: 0;

}
.chn-name{
    font-size: 12px;
    margin-top:0;
    margin-bottom: 4px;
    font-family: Arial;
    color: gray;

}
.video-statistics{
    font-size: 12px;
    margin-top:0;
    font-family: Arial;
    color: gray;

}
.video-stats{
    width: 100%;
}